@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* =========================
     Layout
  ========================== */
  --layout-mobile: 375px;
  --layout-desktop: 1440px;

  /* =========================
     Colors - Primary
  ========================== */
  --color-purple-600: hsl(246, 80%, 60%);

  --color-work: hsl(15, 100%, 70%);       /* Orange 300 */
  --color-play: hsl(195, 74%, 62%);       /* Blue 300 */
  --color-study: hsl(348, 100%, 68%);     /* Pink 400 */
  --color-exercise: hsl(145, 58%, 55%);   /* Green 400 */
  --color-social: hsl(264, 64%, 52%);     /* Purple 700 */
  --color-self-care: hsl(43, 84%, 65%);   /* Yellow 300 */

  /* =========================
     Colors - Neutral
  ========================== */
  --color-navy-950: hsl(226, 43%, 10%);
  --color-navy-900: hsl(235, 46%, 20%);
  --color-purple-500: hsl(235, 45%, 61%);
  --color-navy-200: hsl(236, 100%, 87%);

  /* =========================
     Typography
  ========================== */
  --font-family-base: 'Rubik', sans-serif;

  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;

  --font-size-body: 18px;
}

body{
   background-color: var(--color-navy-950);
   justify-content: center;
   display: flex;
}

.container{
   width: 500px;
   height: 250px;
   border-radius: 20px;
   background-color: var(--color-work);
   color: white;
   font-family: var(--font-family-base);
}

#icon{
   display: flex;
   position: absolute;
   padding-right: 10px;
   justify-self: flex-end;
}

.displayBox{
   position: absolute;
   display: grid;
   grid-template-columns: auto auto;
   width: 500px;
   height: 200px;
   margin-top: 50px;
   border-radius: 20px;
   background-color: var(--color-navy-900);
}

#title{
   justify-self: left;
   padding-left: 25px;
   align-self: flex-end;
   font-weight: 500;
   font-size: 25px;
}

#hrsTime{
   font-size: 40px;
   justify-self: left;
   padding-left: 25px;
   font-family: var(--font-weight-light);
}

#dotButton{
   justify-self: right;
   align-self: flex-end;
   padding-right: 25px;
   padding-bottom: 10px;
}

#lastWeek{
   font-family: var(--font-weight-light);
   color: var(--color-navy-200);
   justify-self: right;
   align-self: flex-start;
   padding-top: 15px;
   padding-right: 25px;
}